@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Roboto Mono IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Mono&display=swap");

/* Global styles */
html,
body {
  @apply scroll-smooth;
}
/* body {
  font-family: "Roboto Mono", monospace;
} */

body {
  @apply bg-lightPrimaryBg dark:bg-primaryBg;
}

.container__sm {
  @apply m-auto w-full md:w-4/6 lg:w-3/5 xl:w-2/5;
}

.container__md {
  @apply m-auto w-full md:w-5/6 lg:w-4/5 xl:w-3/5;
}

.container__xl {
  @apply m-auto w-full md:w-5/6 lg:w-4/5;
}

/* Custom styles */

/* Buttom */
.btn__default {
  @apply rounded bg-blue-600 py-2 px-4 font-medium text-white hover:bg-blue-700;
}

.btn__menu {
  @apply rounded bg-blue-600 py-4 px-6 font-medium text-white hover:bg-blue-700;
}

/* Headings */
.heading__default {
  @apply text-3xl font-semibold text-lightGrayP dark:text-gray-300;
}

.heading__default__2 {
  @apply text-2xl font-semibold text-lightGrayP dark:text-gray-300 md:text-3xl lg:text-4xl;
}

.heading__default_3 {
  @apply text-2xl font-semibold text-lightGrayP dark:text-gray-300;
}

.heading__special__3 {
  @apply text-2xl font-semibold text-lightGrayP dark:text-grayP;
}

.heading__special__4 {
  @apply text-xl font-semibold text-lightGrayP dark:text-grayP;
}

/* Paragraph */
.p__default {
  @apply font-sans text-base font-normal text-lightGraySpecial dark:font-normal dark:text-graySpecial md:text-lg;
}

/* Links */
.link__default {
  @apply font-mono text-base font-semibold text-lightGrayP hover:text-blue-600 hover:underline hover:underline-offset-8 dark:text-grayP md:text-lg;
}

.link__mobile {
  @apply font-mono text-2xl font-bold text-lightGrayP hover:text-blue-600 hover:underline hover:underline-offset-8 dark:text-gray-300 md:text-lg lg:text-xl;
}

.link__special {
  @apply font-mono text-base font-semibold text-blue-500 hover:underline hover:underline-offset-8 md:text-lg lg:text-xl;
}

/* FORM STYLES */

/* Labels */
.label__default {
  @apply font-mono text-base font-semibold text-lightGrayP dark:text-grayP md:text-lg;
}

/* Inputs */
.input__default {
  @apply border-b-2 border-blue-600 bg-transparent p-4 text-black  hover:border-b-4 focus:border-blue-700 focus:bg-lightSecondaryGray focus:outline-none dark:text-white focus:dark:bg-secondaryGray;
}

/* Textarea */
.textarea__default {
  @apply resize-none border-b-2 border-blue-600 bg-transparent p-4 text-white hover:border-b-4 focus:bg-lightSecondaryGray focus:outline-none dark:text-white focus:dark:bg-secondaryGray;
}

/* Icons */
.icon__social {
  @apply text-3xl font-semibold text-gray-600 hover:cursor-pointer hover:text-blue-500 dark:text-graySpecial dark:hover:text-blue-500 md:text-4xl;
}

.icon__social_2 {
  @apply text-2xl font-semibold text-gray-600 hover:cursor-pointer hover:text-blue-500 dark:text-graySpecial dark:hover:text-blue-500 md:text-3xl;
}

.icon__special {
  @apply text-4xl font-semibold text-blue-500 hover:cursor-pointer hover:text-blue-600;
}

.icon__basic {
  @apply text-2xl font-semibold text-gray-600 hover:cursor-pointer hover:text-blue-600 dark:text-graySpecial;
}

.icon__link__special {
  @apply text-xl font-semibold text-lightGrayP hover:cursor-pointer hover:text-blue-600 dark:text-grayP;
}

/* Special styles */
.special {
  @apply text-blue-500;
}

.p__special {
  @apply font-mono text-sm font-semibold text-blue-500;
}

.border__default {
  @apply border-t-2 border-blue-600 pt-8;
}

/* Overlay */
.overlay {
  @apply fixed top-0 bottom-0 right-0 left-0 z-40 bg-lightPrimaryBg/50 backdrop-blur-lg dark:bg-gray-800/50;
}

/* Animations */
.hover__translate {
  @apply transform transition duration-500 hover:-translate-y-2;
}

.hover__border {
  @apply transform  border border-transparent transition duration-500 hover:border hover:border-blue-500;
}

/* GLOBAL */
button {
  -webkit-tap-highlight-color: transparent;
}

.ontap-remove {
  -webkit-tap-highlight-color: transparent;
}

.debug {
  @apply border-2 border-red-600;
}
